In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ayushi\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ayushi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\ayushi\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\ayushi\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: outcome in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ayushi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\ayushi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ayushi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in c:\users\ayushi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ayushi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ayushi\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\ayushi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ayushi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [204]:
driver=webdriver.Chrome(r'C:\Users\AYUSHI\Downloads\chromedriver_win32\chromedriver.exe')

In [205]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [210]:
salary_btn=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_btn

In [211]:
salary_btn.click()

In [216]:
Designation_btn=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
Designation_btn

In [217]:
Designation_btn.send_keys('Data Scientist')

In [218]:
salary_btn=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
salary_btn

In [219]:
salary_btn.click()

In [184]:
company_tags=driver.find_elements_by_xpath('//div[@class="name"]/a')
len(company_tags)

10

In [185]:
Company_Name=[]
for i in company_tags:
    Company_Name.append(i.text)
Company_Name

['Walmart',
 'Ab Inbev',
 'ZS',
 'Fractal Analytics',
 'Optum',
 'UnitedHealth',
 'Tiger Analytics',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson']

In [186]:
salaries_tags=driver.find_elements_by_xpath('//div[1][@class="name"]/span')
len(salaries_tags)

10

In [187]:
Salaries=[]
for i in salaries_tags:
    Salaries.append(i.text)
Salaries

['based on 10 salaries',
 'based on 22 salaries',
 'based on 14 salaries',
 'based on 72 salaries',
 'based on 23 salaries',
 'based on 49 salaries',
 'based on 27 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 42 salaries']

In [188]:
avg_salaries_tags=driver.find_elements_by_xpath('//div[@class="average-indicator-wrapper"]/p')
len(avg_salaries_tags)

10

In [189]:
Avg_Salaries=[]
for i in avg_salaries_tags:
    Avg_Salaries.append(i.text)
Avg_Salaries

['₹ 28.7L',
 '₹ 19.5L',
 '₹ 15.8L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [190]:
min_salaries_tags=driver.find_elements_by_xpath('//div[1][@class="value body-medium"]')
len(min_salaries_tags)

10

In [191]:
Min_Salaries=[]
for i in min_salaries_tags:
    Min_Salaries.append(i.text)
Min_Salaries[0:10]

['₹ 17.7L',
 '₹ 15.0L',
 '₹ 9.8L',
 '₹ 9.5L',
 '₹ 11.0L',
 '₹ 7.2L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L']

In [200]:
max_salaries_tags=driver.find_elements_by_xpath('//div[2][@class="value body-medium"]')
len(max_salaries_tags)

10

In [201]:
Max_Salaries=[]
for i in max_salaries_tags:
    Max_Salaries.append(i.text)
Max_Salaries[0:10]

['₹ 35.0L',
 '₹ 25.0L',
 '₹ 20.0L',
 '₹ 22.0L',
 '₹ 21.3L',
 '₹ 20.5L',
 '₹ 18.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 21.5L']

In [202]:
Data_scientist=pd.DataFrame()
Data_scientist['Company name']= Company_Name
Data_scientist[' Number of salaries ']= Salaries
Data_scientist['Average salary']= Avg_Salaries
Data_scientist['Min salary']= Min_Salaries
Data_scientist['Max salary']= Max_Salaries


Data_scientist

,Company name,Number of salaries,Average salary,Min salary,Max salary
0,Walmart,based on 10 salaries,₹ 28.7L,₹ 17.7L,₹ 35.0L
1,Ab Inbev,based on 22 salaries,₹ 19.5L,₹ 15.0L,₹ 25.0L
2,ZS,based on 14 salaries,₹ 15.8L,₹ 9.8L,₹ 20.0L
3,Fractal Analytics,based on 72 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L
4,Optum,based on 23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L
5,UnitedHealth,based on 49 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L
6,Tiger Analytics,based on 27 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L
7,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L
8,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L
9,Ericsson,based on 42 salaries,₹ 11.9L,₹ 5.8L,₹ 21.5L